<!DOCTYPE html>
<html>
<head>
  <title>Awesome Fonts Sinatra</title>
  <link href='/assets/application.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <i class="fa fa-flag fa-5x"></i>
</body>
</html>
